:root {
  --white: rgba(250, 250, 250, 1);
  --black: rgba(10, 10, 10, 1);
  --vanila: rgba(255, 222, 191, 1);
  --x2nd-layer: rgba(25, 32, 29, 1);
  --x1st-layer: rgba(17, 21, 19, 1);
  --x3d-layer: rgba(35, 47, 42, 1);
  --collection-1-color: rgba(255, 255, 255, 1);
}
